* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    }
    
    html {
    font-size: 62.5%;
    }
    
    .container {
    width: 100%;
    height: 100vh;
    background-color: white;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .calendar {
    width: 130rem;
    height: 90rem;
    background-color: #073065;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    }
    
    .month {
    width: 100%;
    height: 12rem;
    background-color: #03506f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
    
    .month i {
    font-size: 3rem;
    cursor: pointer;
    }
    
    .month h1 {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    }
    
    .month p {
    font-size: 2rem;
    }
    
    .weekdays {
    width: 100%;
    height: 7rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    }
    
    .weekdays div {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    width: calc(128rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
    
    .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem;
    }
    
    .days div {
    font-size: 2rem;
    margin: 0.7rem;
    width: calc(119rem / 7);
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
    
    .days div:hover:not(.today) {
    background-color: #0a043c !important;
    border: 0.2rem solid #000;
    cursor: pointer;
    transition: background-color 0.2s;
    }
    
    .prev-date,
    .next-date {
    opacity: 0.5;
    }
    